/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics */
img{
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.page-icon:hover{
  transform: scale(1.1);
}

/* Utilities */
.flexsbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header,
footer{
  background-color: black;
  padding: 1.5rem;
}

header img{
  width: 60%;
}

header ul{
  gap: 2rem;
}

header a{
  color: white;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

/* Footer */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

footer img{
  width: 60%;
  margin: 0 auto;
}

footer ul{
  font-size: 0.7rem;
  text-align: center;
  color: white;
  list-style-type: none;
  gap: 2rem;
}

#social a{
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease;

}

/* Main */
main{
  height: 60vh;
}

h1{
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  text-align: center;
}

.btn-container{
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  color: white;
  background-color: #8BC43E;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.btn:hover{
  transform: scale(1.1);
  background-color: #75a82d;
}