/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics */
main{
  min-height: calc(100vh - 327px - 64px);
}

img{
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2{
  text-align: center;
}

.page-icon:hover{
  transform: scale(1.1);
}

.container{
  width: 80%;
  margin: 2rem auto;
}

.container > div > * {
  margin: 1rem 0;
}

html::-webkit-scrollbar {
  display: none;
}

/* Utilities */
.d-none{
  display: none;
}

.flexsbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexsec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flexcc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  color: black;
  background-color: #F0F0F0;
  border: 1px solid silver;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
  color: white;
  background-color: #858585;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: scale(1);
  color: black;
}

.underline {
  text-decoration: underline;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.mini-text{
  font-size: 0.7rem;
}

/* Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 185, 185, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  font-size: 3rem;
}

.fa-spinner{
  font-size: 8rem;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/* Header */
header,
footer{
  background-color: black;
  padding: 1.5rem;
}

header{
  height: 100px;
  font-size: 2rem;
}

header img{
  width: 60%;
}

header ul{
  gap: 2rem;
}

header a{
  color: white;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.header-text{
  display: none;
  font-size: 1.5rem;
}

/* Footer */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 227px;
}

footer img{
  width: 60%;
  margin: 0 auto;
}

footer ul{
  font-size: 0.7rem;
  text-align: center;
  color: white;
  gap: 2rem;
}

#social a{
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease;

}

/* Main */
.btn-container{
text-align: center;
}

h1{
  margin: 2rem 0;
}

/* Dates */
.dates-md{
  display: none;
}

/* Icona e main info */
.meteo-icon{
  width: 50%;
  border: 3px solid silver;
  border-radius: 15px;
}

.weatemp{
  width: 40%;
}

.weatemp>*{
  margin: 0.5rem 0;
}

.temperature{
  font-size: 3rem;
  margin-bottom: 0;
}

.weather{
  font-size: 0.9rem;
  margin-top: 0;
}

/* Tutte le ore */
.hours-container,
.hours-container-xl{
  row-gap: 0.5rem;
  margin: 1.5rem 0;
}

.hours{
  width: 25%;
  text-align: center;
}

.hours-container-xl{
  width: 20%;
  display: none;
}

.hours-xl{
  width: 50%;
}

.hours .btn {
  padding: 6px 10px;
  border-radius: 12px;
}

/* Accordion */
.accordion-button {
  font-weight: 600;
}

.accordion-table{
  width: 100%;
}

.accordion-table-xl{
  width: 50%;
  margin: 0 auto;
}

td {
  padding: 0.4rem 0;
  color: black;
  border: 1px solid silver;
  text-align: center;
  margin-top: 0.5rem;
  background-color: #F8F8F8;
}

td.w-20{
  border-radius: 12px 0 0 12px;
}

td.w-30{
  border-radius: 0 12px 12px 0;
}

tr{
  transition: transform 0.5s ease;
}

tr:hover {
  transform: scale(1.05);
}

/* dashboard cards */
#dboard-area{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin: 1rem -1rem;
}

.row-md{
  display: none;
  row-gap: 1rem;
  margin: 1rem -1rem;
}

.col{
  width: 50%;
  text-align: center;
  padding: 0 1rem;
}

.card{
  border: 1px solid silver;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8f6;
  font-size: 0.9rem;
}

.card .flexsec{
  gap: 5px;
}

[class*="droplet"]{
  color: #0051ff;
}

.fa-wind{
  color: #858585;
}

.fa-gauge{
  color: orange;
}

.fa-arrows-down-to-line{
  color: darkblue;
}

/* Media query */
@media (min-width: 768px) {
  .dates-md {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .dates.flexsec {
    display: none;
  }

  .meteo-icon{
    width: 25%;
  }

  .flexsec.main-temp{
    flex-wrap: nowrap;
  }

  .weatemp > *{
    padding-left: 2.5rem;
  }

  .row-md{
    display: flex;
    flex-wrap: wrap;
  }

  #dboard-area{
    display: none;
  }
}


@media (min-width: 1024px) {
  .weatemp{
    width: 25%;
  }

  .header-text{
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .weatemp{
    width: 15%;
  }

  .container{
    width: 70%;
  }

  .meteo-icon{
    width: 15%;
  }

  .row-md{
    width: 35%;
  }

  .hours-container{
    display: none;
  }

  .hours-container-xl{
    display: flex;
  }

  .five-d-f{
    display: none;
  }

  .five-d-f-xl{
    display: block;
  }
}