/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics */
img{
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2{
  text-align: center;
}

.page-icon:hover{
  transform: scale(1.1);
}

.container{
  width: 80%;
  margin: 2rem auto;
}

.container > div > * {
  margin: 1rem 0;
}

html::-webkit-scrollbar {
  display: none;
}

/* Utilities */
.flexsbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexsec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  color: black;
  background-color: #F0F0F0;
  border: 1px solid silver;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
  color: white;
  background-color: #858585;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: scale(1);
  color: black;
}

.underline {
  text-decoration: underline;
}

/* Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 185, 185, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.spinner-border {
      width: 150px;
      height: 150px;
}

/* Header */
header,
footer{
  background-color: black;
  padding: 1.5rem;
}

header{
  height: 100px;
}

header img{
  width: 60%;
}

header ul{
  gap: 2rem;
}

header a{
  color: white;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

/* Footer */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 227px;
}

footer img{
  width: 60%;
  margin: 0 auto;
}

footer ul{
  font-size: 0.7rem;
  text-align: center;
  color: white;
  gap: 2rem;
}

#social a{
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease;

}

/* Main */
.wrapper{
  height: calc(100vh - 100px - 227px - 64px);
}

h1{
  margin: 2rem 0;
}

.btn-container{
  text-align: center;
}

.meteo-icon{
  width: 50%;
  border: 3px solid silver;
  border-radius: 15px;
}

.weatemp{
  width: 50%;
}

.weatemp>*{
  padding-left: 1rem;
  margin: 0.5rem 0;
}

.temperature{
  font-size: 3rem;
  font-weight: 500;
}

.hours-container{
  row-gap: 0.5rem;
  margin: 1.5rem 0;
}

.hours{
  width: 25%;
  text-align: center;
}

.hours .btn {
  padding: 6px 10px;
  border-radius: 12px;
}

.accordion-button{
cursor: pointer;
}

.row{
  row-gap: 1rem;
}

.col{
  width: 50%;
  text-align: center;
}
